
.DS_Store

Data/_naive_guesses.txt

Data/_rules.txt

*.xcuserstate

jcTBL.xcodeproj/xcuserdata/Jim.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

jcTBL.xcodeproj/xcuserdata/Jim.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

jcTBL.xcodeproj/project.xcworkspace/xcuserdata/Jim.xcuserdatad/UserInterfaceState.xcuserstate
